<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-top">
          <div class="row">
            <div class="col-md-6">
              <div class="footer-top-right">
                <a href="/" title="Logo">
                  <img src="/images/logo/logo.png" alt="logo" />
                </a>

                <table class="footer-table">
                  <tbody>
                  <tr>
                    <td><%= t('Contacts') %>:</td>
                    <td>OOO “MEDELA COEPTIS”</td>
                  </tr>
                  <tr>
                    <td><%= t('Address') %>:</td>
                    <td><%= t('Tashkent city, Mirzo Ulugbek district, Sayram St., 3A') %></td>
                  </tr>
                  <tr>
                    <td><%= t('Reference point') %>:</td>
                    <td><%= t('Maksim Gorkiy metro, opposite to Buz Bazaar') %></td>
                  </tr>
                  <tr>
                    <td><%= t('Email') %>:</td>
                    <td>n.shohida@gmail.com</td>
                  </tr>
                  <tr>
                    <td><%= t('Phone numbers') %>:</td>
                    <td>
                      (90) 906 55 00 <br/>
                      (90) 910 91 67
                    </td>
                  </tr>
                  </tbody>
                </table>







              </div>
            </div>

            <div class="col-md-12">
              <div class="footer-bottom">
                <div class="row">
                  <div class="col-md-5">
                    <p>© All Rights Reserved </p>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
</footer>
