<header class="mobile-header">
  <div class="container">
    <div class="flex-header">
      <div class="logo">
        <a href="/" title="Logo">
          <img src="/images/logo/logo.png" alt="logo" />
        </a>
      </div>

      <div class="content-menu">
        <div class="nav-menu">
          <div class="btn-menu"><span></span></div>
          <nav class="mobile-menu">
            <ul class="menu">
              <li><a href="/"><%= t('Home') %></a></li>
              <li><a href="/#services"><%= t('Our services') %></a></li>
              <li><a href="/#treatment"><%= t('Treatment in India') %></a></li>
              <li><a href="/blogs"><%= t('Blog') %></a></li>
              <li><a href="/#review"><%= t('Reviews') %></a></li>
              <li>
                <a href="#" class="current-language"><%= t('Language') %></a>
                <ul class="sub-menu">
                  <li><a href="?lng=en">English</a></li>
                  <li><a href="?lng=ru">Русский</a></li>
                </ul>
              </li>
            </ul>
          </nav>

        </div>

      </div>
    </div>
  </div>
</header>
