<header id="header" class="header">
  <div class="container">
    <div class="flex-header">
      <div class="logo">
        <a href="/" title="Logo">
          <img src="/images/logo/logo.png" alt="logo"/>
        </a>
      </div>
      <div class="content-menu">
        <div class="nav-menu">
          <div class="btn-menu"><span></span></div>
          <nav id="main-menu" class="main-menu">
            <ul class="menu">
              <li><a href="/"><%= t('Home') %></a></li>
              <li><a href="/#services"><%= t('Our services') %></a></li>
              <li><a href="/#treatment"><%= t('Treatment in India') %></a></li>
              <li><a href="/blogs"><%= t('Blog') %></a></li>
              <li><a href="/#review"><%= t('Reviews') %></a></li>
            </ul>
            <div class="dropdown">
              <a href="#" class="dropdown-toggle lang-dropdown" id="dropdownMenuButton" data-toggle="dropdown"
                 aria-expanded="false">
                <span class="current-language"><%= t('Language') %></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="?lng=en">English</a></li>
                <li><a class="dropdown-item" href="?lng=ru">Русский</a></li>
              </ul>
            </div>
          </nav>

        </div>

      </div>
    </div>
  </div>
</header>
