<%- include('./includes/head.ejs') %>

<%- include('./includes/nav') %>

<%- include('./includes/mobile-nav') %>
<!-- Subheader-start -->

<section class="sub-section sub-subheader">
  <div class="container">
    <h1 style="color: white">500 - Server Error!</h1>
  </div>
</section>

<!-- end -->
<%- include('./includes/footer') %>

<%- include('./includes/scripts') %>

<%- include('./includes/tail.ejs') %>
