<%- include('./includes/head.ejs') %>

<%- include('./includes/nav') %>

<%- include('./includes/mobile-nav') %>
<!-- Subheader-start -->

<section class="sub-section sub-subheader">
  <div class="container">
    <div class="sub-subheader--inner">
      <h1><%= t('Blog') %></h1>
      <div class="breadcrumbs-wrapper">
        <ul class="breadcrumbs">
          <li><a href="/"><i class="fa fa-home"></i> <%= t('Home') %></a> <span>/</span></li>
          <li><%= t('Blog') %></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Subheader-end -->

<!-- Blog-start -->
<section class="blog">
  <div class="container">
    <div class="row">
      <!-- Multiple -->
      <div class="col-xl-8 offset-xl-2">
        <div class="service-heading text-center mb-5">
          <h6><%= t('See Our Latest News') %></h6>
          <h2><%= t('Our News')%> <span class="text-primary"><%= t('Blogs') %></span></h2>

        </div>
      </div>
    </div>

    <div class="row">
      <% list.forEach(item => { %>
        <div class="col-lg-4 col-md-6">
          <div class="blog-card">
            <div class="blog-image">
              <a href="/blogs/<%= item._id %>">
                <img src="<%= item.key %>" alt="<%= item.title %>" class="img-fluid">
              </a>
            </div>
            <div class="blog-content">
              <div class="d-flex align-items-center justify-content-between">
                <ul class="blog-tags">
                  <li><a href="#">Health,</a></li>
                  <li><a href="#">Theropy</a></li>
                </ul>
                <div class="blog-time">
                  <h6><%= item.createdAt %></h6>
                </div>
              </div>

              <h3><a href="/blogs/<%= item._id %>"><%= item.title %></a>
              </h3>
              <p>
                <%= item.shortDescription %>
              </p>
              <a href="/blogs/<%= item._id %>" class="btn btn-secondary mt-1">
                <span class="txt">
                  <%= t('Learn More') %> <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      <% }) %>

    </div>
  </div>

  <%- include('./includes/pagination', { pagination }) %>

</section>
<!-- end -->
<%- include('./includes/footer') %>

<%- include('./includes/scripts') %>

<%- include('./includes/tail.ejs') %>
