<%- include('./includes/head.ejs') %>

<%- include('./includes/nav') %>

<%- include('./includes/mobile-nav') %>

<!-- Subheader-start -->

<section class="sub-section sub-subheader">
  <div class="container">
    <div class="sub-subheader--inner">
      <h1>Blog</h1>
      <div class="breadcrumbs-wrapper">
        <ul class="breadcrumbs">
          <li><a href="/"><i class="fa fa-home"></i> Home</a> <span>/</span></li>
          <li>Blog Details</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Subheader-end -->

<!-- Blog-Classic-section -->
<section class="section blog-section">
  <div class="container">
    <div class="row">
      <!-- left-column -->
      <div class="col-lg-8">
        <!-- blog-left-sidebar -->
        <div class="blog-content-area">

          <!-- post-one -->
          <div class="blog-post mb-4">
            <div class="blog-image">
              <img src="<%= blog.image %>" class="img-fluid" alt="<%= blog.title %>">
              <div class="badges">
                <span class="badge badge-primary mr-3">Medical</span>
                <span class="badge badge-danger">Health</span>
              </div>
            </div>
            <div class="blog-body blog-single">
              <h3 class="mb-3"><a href=""><%= blog.title %></a></h3>
              <div class="news-list mb-3">
                <ul>
                  <li class="pr-3">
                    <a href="blog-detail.html">
                      <i class="fa fa-calendar yellow"></i> 4th AUg 2020
                    </a>
                  </li>
                  <li class="pr-3">
                    <a href="blog-detail.html">
                      <i class="fa fa-user yellow"></i> Jack Daniels
                    </a>
                  </li>
                  <li>
                    <a href="blog-detail.html">
                      <i class="fa fa-comment yellow"></i> 3
                    </a>
                  </li>
                </ul>
              </div>
              <%- blog.description %>
            </div>
          </div>
        </div>
      </div>
      <!-- end -->

      <!-- right-sidebar-column -->
      <div class="col-lg-4">

        <!-- sidebar-categories -->
        <div class="sidebar-widget mb-3">
          <div class="sidebar-content">
            <h4 class="font-weight-bold mb-3">Categories</h4>
            <ul class="widget">
              <li><a href="#">Health <span class="count">10</span></a></li>
              <li><a href="#">Medicine <span class="count">12</span></a></li>
              <li><a href="#">Hospital <span class="count">07</span></a></li>
              <li><a href="#">Doctor <span class="count">04</span></a></li>

            </ul>
          </div>
        </div>
        <!-- end -->

        <!-- sidebar-posts -->
        <div class="sidebar-widget sidebar-posts mb-3">
          <div class="sidebar-content">
            <h4 class="font-weight-bold mb-3">Resent Posts</h4>
            <ul class="widget">
              <li><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry.</a>
                <p><span class="date">20 Sep, 2019</span></p>
              </li>
              <li><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry.</a>
                <p><span class="date">20 Sep, 2019</span></p>
              </li>
              <li><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry.</a>
                <p><span class="date">20 Sep, 2019</span></p>
              </li>
              <li><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry.</a>
                <p><span class="date">20 Sep, 2019</span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('./includes/footer') %>

<%- include('./includes/scripts') %>

<%- include('./includes/tail.ejs') %>
