<%- include('./includes/head.ejs') %>

<%- include('./includes/nav') %>

<%- include('./includes/mobile-nav') %>

<!-- Slider-start -->
<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <!--Multiple-->
    <% slideshowItems.forEach(item => { %>
      <div class="swiper-slide slide-<%= item._id %>">
        <div class="swiper-image-wrapper">
          <img src="<%= item.key %>" alt="<%= item.title %>"/>
        </div>
        <div class="slider-text">
          <h2><%= item.title %></h2>
          <h6 class="my-4">
            <%= item.description %>
          </h6>
        </div>
      </div>
    <% }) %>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>
<!-- end -->

<!-- Services-section-start -->
<div id="services" class="our-services section">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2">
        <div class="service-heading text-center mb-5">
          <h2><%= t('Our') %> <span class="text-primary"><%= t('Services') %></span></h2>
        </div>
      </div>
    </div>
    <div class="row align-items-stretch">

      <% services.forEach(service => { %>
        <div class="col-xl-4 col-lg-4 col-md-6 h-100">
          <div class="service-wrap">
            <div class="service-desc">
              <div class="service-icon">
                <img src="images/icon/tooth.png" class="img-fluid" alt="">
              </div>

              <h3 class="service-title">
                <%= service.title %>
              </h3>
              <p class="desc">
                <%= service.description %>
              </p>

            </div>
          </div>
        </div>
      <% }) %>

    </div>
  </div>

</div>
<!-- end -->

<!-- service-section-start -->
<section id="treatment" class="section service-section services-area" aria-label="section">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2">
        <div class="service-heading text-center mb-5">
          <h2><%= t('Treatment in') %> <span class="text-primary"><%= t('India') %></span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <% treatments.forEach(treatment => { %>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="services__wrapper mb-40">
            <div class="services-item scale">
              <div class="services__thumb thumb fix w-img">
                <img src="<%= treatment.key %>" class="img-fluid" alt="<%= treatment.title %>">
              </div>
              <div class="services__content">
                <h3><a href="/treatments/<%= treatment._id %>"><%= treatment.title %></a></h3>
                <p>
                  <%= treatment.shortDescription %>
                </p>
                <a href="/treatments/<%= treatment._id %>" class="btn btn-secondary">
                  Read more <i class="fa fa-long-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      <% }) %>

    </div>
  </div>
</section>


<!-- About-section-start -->
<section id="advantages" class="section about-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="about-sec-img">
          <img src="/images/men.jpg" class="img-fluid">
        </div>

      </div>
      <div class="col-lg-7">
        <div class="about-sec-content">
          <span class="about-sub-title text-primary"><%= t('our advantages') %></span>
          <h2>
            <%= advantage.title %>
          </h2>
          <h6><%- advantage.description %></h6>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Appointment-sections-start -->
<section class="appointment-area pt-0 pb-100">
  <div class="container">
    <div class="appointment-area__inner white-bg p-relative">
      <div class="row">
        <div class="col-xl-5 col-lg-5">
          <div class="appointment__form">
            <div class="appointment__form--inner">
              <h4><%= t('Get appointment with a doctor') %></h4>
            </div>
            <div class="appointment__inner">
              <form action="/appointment" method="POST">
                <input type="text" name="name" placeholder="<%= t('Your name') %>">
                <input type="email" name="email" placeholder="<%= t('Your email') %>">
                <textarea name="text" id="text" cols="30" rows="10"
                          placeholder="<%= t('Write here') %>...">
                </textarea>

                <button class="btn btn-primary btn-service" type="submit"><%= t('Make an appointment') %></button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xl-7 col-lg-7">
          <div class="appointment__counter">
            <div class="appoinment-section-title">
              <div class="mb-20">
                <div class="appoinment-title mb-15">
                  <span><%= t('Our Achievements') %></span>
                </div>
              </div>
              <h2 class="mb-40">
                <%= t('Achievements in numbers') %>
              </h2>
            </div>
            <div class="appointment__counter--inner p-relative">
              <div class="row no-gutters">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                  <div class="single__counter">
                    <h2><span class="pink-color counter"><%= achievement.doctorNumber %> <%= t('years') %></span></h2>
                    <span><%= t('Specialize in treatment abroad') %></span>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                  <div class="single__counter pb-25 pl-65 ">
                    <h2><span class="green-color counter"><%= achievement.branchNumber %></span></h2>
                    <span><%= t('Cured patients') %></span>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                  <div class="single__counter pt-65 pl-25">
                    <h2 class="green-color"><span class="green-color counter"><%= achievement.patientNumber %></span>%
                    </h2>
                    <span><%= t('Successful surgeries') %></span>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                  <div class="single__counter pt-65 pl-65">
                    <h2><span class="pink-color counter"><%= achievement.awardNumber %></span></h2>
                    <span><%= t('Russian speaking translators') %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end -->

<!-- Testimonials-start -->
<section id="review" class="testimonial-section section">
  <div class="container">
    <!-- Section content -->
    <div class="row">
      <div class="col-lg-4">
        <div class="section-heading">
          <h6><%= t('See what people think about us') %></h6>
          <h2><%= t('Our Best') %> <span class="text-primary"><%= t('Clients') %></span></h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the
            industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="swiper-container testimonial-slider">
          <div class="swiper-wrapper">
            <!-- Multiple -->
            <% testimonials.forEach(testimonial => { %>
              <div class="swiper-slide">
                <div class="testimonial testimonial-style-1">
                  <h2><%= testimonial.title %></h2>
                  <p>
                    <%= testimonial.review %>
                  </p>

                  <div class="testimonial-user-wrapper">
                    <div class="row">
                      <div class="col-lg-8 ml-auto mr-auto">
                        <div class="row align-items-stretch justify-content-center">
                          <div>
                            <div class="image-wrapper">
                              <img src="<%= testimonial.key %>"
                                   class="rounded-circle" alt=""/>
                            </div>
                          </div>
                          <div>
                            <h4><%= testimonial.name %></h4>
                            <span><%= testimonial.position %></span>
                            <div class="testimonial-rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <img src="/images/testimonials/quote-right.png" class="quote-icon" alt=""/>
                  </div>
                </div>
              </div>
            <% }) %>

          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>

        </div>
      </div>
      <!-- Section content -->
    </div>

  </div>

</section>
<!-- end -->

<!-- Blog-start -->
<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2">
        <div class="service-heading text-center mb-5">
          <h2><%= t('Blog') %></h2>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Multiple -->
      <% blogs.forEach(blog => { %>
        <div class="col-lg-4 col-md-6">
          <div class="blog-card">
            <div class="blog-image">
              <img src="<%= blog.key %>" alt="<%= blog.title %>" class="img-fluid">
            </div>
            <div class="blog-content">
              <div class="d-flex align-items-center justify-content-end">
                <div class="blog-time">
                  <h6><%= blog.createdAt %></h6>
                </div>
              </div>

              <h3>
                <a href="/blogs/<%= blog._id %>"><%= blog.title %></a>
              </h3>
              <p><%= blog.shortDescription %>
              </p>
              <a href="/blogs/<%= blog._id %>" class="btn btn-secondary mt-1">
                <span class="txt"><%= t('Learn More') %> <i class="fa fa-angle-right"></i></span>
              </a>
            </div>
          </div>
        </div>
      <% }) %>

    </div>
  </div>
</section>
<!-- end -->

<!-- Partner-start -->
<div class="partners">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2">
        <div class="service-heading text-center mb-5">
          <h6><%= t('Clinics, we cooperate with') %></h6>
          <h2><%= t('Clinic carousel') %></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Multiple -->
      <div class="swiper-container partners-slider">
        <div class="swiper-wrapper">
          <% partners.forEach(partner => { %>
            <div class="swiper-slide">
              <div class="partner-img">
                <img src="<%= partner.key %>" class="img-fluid" alt="<%= partner.title %>">
              </div>
            </div>
          <% }) %>
        </div>
      </div>

    </div>
  </div>
</div>

<%- include('./includes/footer') %>

<%- include('./includes/scripts') %>

<%- include('./includes/tail.ejs') %>
