<%- include('./includes/head.ejs') %>

<%- include('./includes/nav') %>

<%- include('./includes/mobile-nav') %>

<!-- Slider-start -->
<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <!--Multiple-->
    <div class="swiper-slide slide-1">
      <div class="slider-text">
        <h2>Best doctor availabe <br>to help you.</h2>
        <h6 class="my-4">We Believe in the best service.</h6>
        <div class="button">
          <a href="#" class="btn btn-primary btn-service">Our Services</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>
<!-- end -->

<!-- About-section-start -->
<section class="section about-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="about-sec-img">
          <img src="/images/men.jpg" class="img-fluid">
        </div>

      </div>
      <div class="col-lg-7">
        <div class="about-sec-content">
          <span class="about-sub-title text-primary">about us</span>
          <h2><span class="text-primary">MediMax</span> Is Always<br> Take Care Of Your Health
          </h2>
          <h6>We always places patients at the center of our attention, and concentrate on improving their
            experience with the aid of technologies.</h6>
          <ul>
            <li><i class="fa fa-check pr-3 text-primary"></i>We check for your current health
              situation and decide
              treatment
            </li>
            <li><i class="fa fa-check pr-3 text-primary"></i>We check for your current health
              situation and decide
              treatment
            </li>

          </ul>
          <div class="exp d-flex">
            <span class="exp-number">20</span>
            <h5 class="exp-caption">years of <br> experiance</h5>
          </div>
          <img src="/images/sign.png" class="img-fluid w-50" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Services-section-start -->

<div class="our-services section">
  <div class=" container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2">
        <div class="service-heading text-center mb-5">
          <h6>See what we provide for your treatment</h6>
          <h2>Our Best <span class="text-primary">Services</span></h2>

        </div>
      </div>
    </div>
    <div class="row">
      <!-- Multiple -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="service-wrap">
          <div class="service-desc">
            <div class="service-icon">
              <img src="/images/icon/bone.png" class="img-fluid" alt="">
            </div>
            <h3 class="service-title">
              <a href="#">Body Surgery</a>
            </h3>
            <p class="desc">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s
            </p>
            <div class="service-btn">
              <a class="readmore" href="#">Read More <i
                        class="glyph-icon flaticon-right-arrow-2"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- end -->

<!-- service-section-start -->
<section class="section service-section services-area" aria-label="section">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2">
        <div class="service-heading text-center mb-5">
          <h6 class="text-primary">Our clinic offers all kinds of services.</h6>
          <h2>Our Best <span class="text-primary">Treatments</span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="services__wrapper mb-40">
          <div class="services-item scale">
            <div class="services__thumb thumb fix w-img">
              <img src="/images/services/01.jpg" class="img-fluid" alt="">
            </div>
            <div class="services__content">
              <h3><a href="team-details.html">Diagnosis for illnesses and infections</a></h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s
              </p>
              <a href="services-details.html" class="btn btn-secondary">Read more <i
                        class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<!-- Appointment-sections-start -->
<section class="appointment-area pt-0 pb-100">
  <div class="container">
    <div class="appointment-area__inner white-bg p-relative">
      <div class="row">
        <div class="col-12">
          <div class="appointment__counter">
            <div class="appoinment-section-title">
              <div class="mb-20">
                <div class="appoinment-title mb-15"><span>Our Achievements</span></div>
              </div>
              <h2 class="mb-40">Achievments that we gain from hardwork.</h2>
            </div>
            <div class="appointment__counter--inner p-relative">
              <div class="row no-gutters">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                  <div class="single__counter">
                    <h2><span class="pink-color counter">150</span></h2>
                    <span>Doctors</span>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                  <div class="single__counter pb-25 pl-65 ">
                    <h2><span class="green-color counter">340</span></h2>
                    <span>all branches</span>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                  <div class="single__counter pt-65 pl-25">
                    <h2 class="green-color"><span class="green-color counter">430</span>+
                    </h2>
                    <span>total patient</span>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                  <div class="single__counter pt-65 pl-65">
                    <h2><span class="pink-color counter">240</span></h2>
                    <span>award</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end -->

<!-- Testimonials-start -->
<section class="testimonial-section section">
  <div class="container">
    <!-- Section content -->
    <div class="row">
      <div class="col-lg-4">
        <div class="section-heading">
          <h6>See what people think about us</h6>
          <h2>Our Best <span class="text-primary">Client's</span></h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the
            industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="swiper-container testimonial-slider">
          <div class="swiper-wrapper">
            <!-- Multiple -->
            <div class="swiper-slide">
              <div class="testimonial testimonial-style-1">
                <h2>Best Doctor in the world</h2>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                  in a piece of classical
                  Latin literature from 45 BC, making it over 2000 years old.</p>

                <div class="testimonial-user-wrapper">
                  <div class="row">
                    <div class="col-lg-8 ml-auto mr-auto">
                      <div class="row align-items-center justify-content-center">
                        <div class="col-lg-2">
                          <img src="/images/testimonials/testimonial-pic-4.jpg"
                               class="img-circle" alt=""/>
                        </div>
                        <div class="col-lg-6">
                          <h4>John Doe</h4>
                          <span>Patient</span>
                          <div class="testimonial-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>


                  <img src="/images/testimonials/quote-right.png" class="quote-icon" alt=""/>
                </div>
              </div>
            </div>


          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>

        </div>
      </div>
      <!-- Section content -->
    </div>

  </div>

</section>
<!-- end -->

<!-- Blog-start -->
<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2">
        <div class="service-heading text-center mb-5">
          <h6>See Our Latest News</h6>
          <h2>Our News <span class="text-primary">Blogs</span></h2>

        </div>
      </div>
    </div>

    <div class="row">
      <!-- Multiple -->
      <div class="col-lg-4 col-md-6">
        <div class="blog-card">
          <div class="blog-image">
            <img src="/images/blog/blog-1.jpg" alt="" class="img-fluid">
            <div class="blog-date">
              <p>By Admin</p>
            </div>
          </div>
          <div class="blog-content">
            <div class="d-flex align-items-center justify-content-between">
              <ul class="blog-tags">
                <li><a href="#">Health,</a></li>
                <li><a href="#">Theropy</a></li>
              </ul>
              <div class="blog-time">
                <h6>03/05/2020</h6>
              </div>
            </div>

            <h3><a href="blog-list.html">How to keep safe bone and health during winters?</a>
            </h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry...
            </p>
            <a href="blog-list.html" class="btn btn-secondary mt-1"><span class="txt">Learn More <i
                        class="fa fa-angle-right"></i></span></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- end -->

<!-- Partner-start -->
<div class="partners">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2">
        <div class="service-heading text-center mb-5">
          <h6>Certificate that are own by trusts</h6>
          <h2>Our Trusts <span class="text-primary">Brands</span></h2>

        </div>
      </div>
    </div>
    <div class="row">
      <!-- Multiple -->
      <div class="col-lg-2 col-md-4">
        <div class="partner-img">
          <img src="/images/partners/partner-1.png" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </div>
</div>

<%- include('./includes/footer') %>

<%- include('./includes/scripts') %>

<%- include('./includes/tail.ejs') %>
